.droparea-wrapper .dropzone {
  display: flex;
  align-items: center;
  position: relative;

  & input {
    position: relative;
    padding-left: 8.25rem;
    color: transparent;
    border-color: transparent;
    background-color: transparent;
    opacity: 0;

    &::file-selector-button { 
      width: 7.5rem;
      height: 2.5rem;
      position: absolute;
      left: 0;
      top: 0.25rem;
      padding: 0;
      margin: 0;
      border: none;
      color: transparent;
      background-color: transparent;
    }
  }

  & label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: absolute;
    margin-bottom: 0;
    cursor: pointer;

    & .upload-button { 
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.65625rem 0.75rem;
      border-radius: 0.5rem;
      background-color: var(--shape-button);


      .icon {
        width: 1rem;
        height: 1rem;
        color: var(--brand-light);
      }

      span {
        color: var(--text-heading);
        font: var(--body-sm);
        font-weight: var(--semibold);
      }
    }

    & > span {
      color: var(--input-placeholder);
      font: var(--body-md);
    }
  }

  &:has(.filled) {
    & label > span {
        color: transparent;
        opacity: 0
    }
    
    & input { 
      color: var(--text-body);
      opacity: 1;
    }
  }

}
