.radio-wrapper.color-selector {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
  gap: 0.625rem;

  & .radio-inner {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0.125rem solid transparent;
    border-radius: 50%;
    background-color: var(--shape-button);
    cursor: pointer;


    label {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
    }

    &:has(input:hover) {
      background-color: var(--shape-hover);
    }

    &:has(input:checked) {
      border-color: var(--brand-light);
    }
  }
}