input, 
select, 
textarea {
  appearance: none;
  width: 100%;
  padding: 0.8125rem 1rem;
  outline: none;
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;
  background-color: var(--input-base);
  font: var(--body-md);
  color: var(--text-heading);

  &:focus, &:focus-within {
    border-color: var(--brand-light);
  }
}

input, textarea {
  &::placeholder {
    color: var(--input-placeholder);
  }
}

textarea {
  resize: none;
}

input[type="datetime-local"],
input[type="date"] {
  text-transform: uppercase;
  font-weight: var(--regular);
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}