form {
  & fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & legend {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 1.5rem;

      & .icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      & span {
        font: var(--heading-sm);
        color: var(--text-heading);
        margin-block: 0.125rem;
        line-height: 1.25rem;
      }
    }

    & label, 
    & .label {
      display: block;
      margin-bottom: 0.75rem;
      font: var(--body-sm);
    }
  }
}