form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;

  & fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & legend {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 1.5rem;

      & .icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      & span {
        font: var(--heading-sm);
        color: var(--text-heading);
        margin-block: 0.125rem;
        line-height: 1.25rem;
      }
    }

    &#customization-info {
      gap: 1.75rem;
  
      & .input-wrapper:not(:has(input[name="style"])) .label {
        margin-bottom: 1rem;
      }
    }
  }

  & .input-wrapper {
    display: flex;
    flex-direction: column;

    & label, 
    & .label {
      display: block;
      margin-bottom: 0.75rem;
      font: var(--body-sm);
    }

    & .error-message {
      font: var(--body-xs);
      color: var(--danger);
      display: none;
      gap: 0.5rem;
      margin-top: 0.5rem;
      align-items: center;

      & .icon {
        width: 1rem;
        height: 1rem;
      }
    }

    &:has(input:required:invalid) {
      & input {
        border-color: var(--danger);
      }

      & .error-message {
        display: flex;
      }
    }
  }
}