main {
  width: 67.79%;
  padding: 5rem 8.125rem;
  border-radius: 0.75rem;
  background-color: var(--shape-body);
  overflow: auto;

  h2 {
    margin-bottom: 2.5rem;
    font: var(--heading-md);
    color: var(--text-heading);
  }
}